In [1]:
import os 
import pandas as pd

In [2]:
def loadStockData(ticker):
    # Read ticker file
    file_path = (f'./Resources/{ticker}.csv')
    df = pd.read_csv(file_path,index_col='timestamp')# parse_dates=True, infer_datetime_format=True)
    df.index = pd.to_datetime(df.index, utc=True).tz_convert(tz="America/New_York")
    return df

In [3]:
TSLA = loadStockData("TSLA")

In [4]:
TSLA.head()

,open,high,low,close,volume,trade_count,vwap,day_part,day_of_week,cum_vol_all_hours,cum_vol_for_day_part,rvol_1D,rvol_3D,rvol_5D,rvol_14D,rvol_21D,return_15m,senti_score
timestamp,,,,,,,,,,,,,,,,,,
2022-03-01 04:00:00-05:00,868.00,872.00,868.00,868.79,4272,259,869.799511,pre_market,1,4272,4272,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-03-01 04:01:00-05:00,868.30,869.05,868.00,869.00,2348,137,868.551231,pre_market,1,6620,6620,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-03-01 04:02:00-05:00,868.11,869.30,868.00,869.30,1953,146,868.578740,pre_market,1,8573,8573,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-03-01 04:03:00-05:00,868.00,868.11,868.00,868.11,1552,98,868.162945,pre_market,1,10125,10125,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2022-03-01 04:05:00-05:00,866.65,866.65,866.65,866.65,1030,76,866.847000,pre_market,1,11155,11155,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [5]:
TSLA = TSLA.drop(columns=["day_part","day_of_week","senti_score"])
TSLA.head()

,open,high,low,close,volume,trade_count,vwap,cum_vol_all_hours,cum_vol_for_day_part,rvol_1D,rvol_3D,rvol_5D,rvol_14D,rvol_21D,return_15m
timestamp,,,,,,,,,,,,,,,
2022-03-01 04:00:00-05:00,868.00,872.00,868.00,868.79,4272,259,869.799511,4272,4272,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 04:01:00-05:00,868.30,869.05,868.00,869.00,2348,137,868.551231,6620,6620,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 04:02:00-05:00,868.11,869.30,868.00,869.30,1953,146,868.578740,8573,8573,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 04:03:00-05:00,868.00,868.11,868.00,868.11,1552,98,868.162945,10125,10125,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 04:05:00-05:00,866.65,866.65,866.65,866.65,1030,76,866.847000,11155,11155,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
TSLA["target"] = TSLA["close"].shift(-15)
TSLA.head()

,open,high,low,close,volume,trade_count,vwap,cum_vol_all_hours,cum_vol_for_day_part,rvol_1D,rvol_3D,rvol_5D,rvol_14D,rvol_21D,return_15m,target
timestamp,,,,,,,,,,,,,,,,
2022-03-01 04:00:00-05:00,868.00,872.00,868.00,868.79,4272,259,869.799511,4272,4272,NaN,NaN,NaN,NaN,NaN,NaN,863.00
2022-03-01 04:01:00-05:00,868.30,869.05,868.00,869.00,2348,137,868.551231,6620,6620,NaN,NaN,NaN,NaN,NaN,NaN,862.80
2022-03-01 04:02:00-05:00,868.11,869.30,868.00,869.30,1953,146,868.578740,8573,8573,NaN,NaN,NaN,NaN,NaN,NaN,862.36
2022-03-01 04:03:00-05:00,868.00,868.11,868.00,868.11,1552,98,868.162945,10125,10125,NaN,NaN,NaN,NaN,NaN,NaN,862.27
2022-03-01 04:05:00-05:00,866.65,866.65,866.65,866.65,1030,76,866.847000,11155,11155,NaN,NaN,NaN,NaN,NaN,NaN,861.26

In [7]:
TSLA.isna().sum()

open                      0
high                      0
low                       0
close                     0
volume                    0
trade_count               0
vwap                      0
cum_vol_all_hours         0
cum_vol_for_day_part      0
rvol_1D                 733
rvol_3D                 733
rvol_5D                 733
rvol_14D                733
rvol_21D                733
return_15m               15
target                   15
dtype: int64

In [18]:
TSLA = TSLA.dropna()
TSLA.isna().sum()

open                    0
high                    0
low                     0
close                   0
volume                  0
trade_count             0
vwap                    0
cum_vol_all_hours       0
cum_vol_for_day_part    0
rvol_1D                 0
rvol_3D                 0
rvol_5D                 0
rvol_14D                0
rvol_21D                0
return_15m              0
target                  0
dtype: int64

In [9]:
def time_series_to_supervised(data, n_lag=1, n_fut=1, selLag=None, selFut=None, dropnan=True):
    """
    Converts a time series to a supervised learning data set by adding time-shifted prior and future period
    data as input or output (i.e., target result) columns for each period
    :param data:  a series of periodic attributes as a list or NumPy array
    :param n_lag: number of PRIOR periods to lag as input (X); generates: Xa(t-1), Xa(t-2); min= 0 --> nothing lagged
    :param n_fut: number of FUTURE periods to add as target output (y); generates Yout(t+1); min= 0 --> no future periods
    :param selLag:  only copy these specific PRIOR period attributes; default= None; EX: ['Xa', 'Xb' ]
    :param selFut:  only copy these specific FUTURE period attributes; default= None; EX: ['rslt', 'xx']
    :param dropnan: True= drop rows with NaN values; default= True
    :return: a Pandas DataFrame of time series data organized for supervised learning
    NOTES:
    (1) The current period's data is always included in the output.
    (2) A suffix is added to the original column names to indicate a relative time reference: e.g., (t) is the current
        period; (t-2) is from two periods in the past; (t+1) is from the next period
    (3) This is an extension of Jason Brownlee's series_to_supervised() function, customized for MFI use
    """
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    origNames = df.columns
    cols, names = list(), list()
    # include all current period attributes
    cols.append(df.shift(0))
    names += [('%s' % origNames[j]) for j in range(n_vars)]
 
    # lag any past period attributes (t-n_lag,...,t-1)
    n_lag = max(0, n_lag)  # force valid number of lag periods
    for i in range(n_lag, 0, -1):
        suffix= '(t-%d)' % i
        if (None == selLag):   # copy all attributes from PRIOR periods?
            cols.append(df.shift(i))
            names += [('%s%s' % (origNames[j], suffix)) for j in range(n_vars)]
        else:
            for var in (selLag):
                cols.append(df[var].shift(i))
                names+= [('%s%s' % (var, suffix))]
 
    # include future period attributes (t+1,...,t+n_fut)
    n_fut = max(n_fut, 0)  # force valid number of future periods to shift back
    for i in range(1, n_fut + 1):
        suffix= '(t+%d)' % i
        if (None == selFut):  # copy all attributes from future periods?
            cols.append(df.shift(-i))
            names += [('%s%s' % (origNames[j], suffix)) for j in range(n_vars)]
        else:  # copy only selected future attributes
            for var in (selFut):
                cols.append(df[var].shift(-i))
                names += [('%s%s' % (var, suffix))]
    # combine everything
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values introduced by lagging
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [10]:
data = TSLA.copy()
data[:1]

,open,high,low,close,volume,trade_count,vwap,cum_vol_all_hours,cum_vol_for_day_part,rvol_1D,rvol_3D,rvol_5D,rvol_14D,rvol_21D,return_15m,target
timestamp,,,,,,,,,,,,,,,,
2022-03-01 19:00:00-05:00,864.5,864.5,864.35,864.35,563,14,864.456181,563,-1,0.000023,0.000023,0.000023,0.000023,0.000023,0.000984,864.5

In [11]:
print(len(data.columns))

16

In [12]:
data = time_series_to_supervised(data, n_lag=30, n_fut=1, selFut=['target'])

In [13]:
data.shape

(0, 497)

In [14]:
data[:1]

Empty DataFrame
Columns: [open, high, low, close, volume, trade_count, vwap, cum_vol_all_hours, cum_vol_for_day_part, rvol_1D, rvol_3D, rvol_5D, rvol_14D, rvol_21D, return_15m, target, open(t-30), high(t-30), low(t-30), close(t-30), volume(t-30), trade_count(t-30), vwap(t-30), cum_vol_all_hours(t-30), cum_vol_for_day_part(t-30), rvol_1D(t-30), rvol_3D(t-30), rvol_5D(t-30), rvol_14D(t-30), rvol_21D(t-30), return_15m(t-30), target(t-30), open(t-29), high(t-29), low(t-29), close(t-29), volume(t-29), trade_count(t-29), vwap(t-29), cum_vol_all_hours(t-29), cum_vol_for_day_part(t-29), rvol_1D(t-29), rvol_3D(t-29), rvol_5D(t-29), rvol_14D(t-29), rvol_21D(t-29), return_15m(t-29), target(t-29), open(t-28), high(t-28), low(t-28), close(t-28), volume(t-28), trade_count(t-28), vwap(t-28), cum_vol_all_hours(t-28), cum_vol_for_day_part(t-28), rvol_1D(t-28), rvol_3D(t-28), rvol_5D(t-28), rvol_14D(t-28), rvol_21D(t-28), return_15m(t-28), target(t-28), open(t-27), high(t-27), low(t-27), close(t-27), volume(t-27), trade_count(t-27), vwap(t-27), cum_vol_all_hours(t-27), cum_vol_for_day_part(t-27), rvol_1D(t-27), rvol_3D(t-27), rvol_5D(t-27), rvol_14D(t-27), rvol_21D(t-27), return_15m(t-27), target(t-27), open(t-26), high(t-26), low(t-26), close(t-26), volume(t-26), trade_count(t-26), vwap(t-26), cum_vol_all_hours(t-26), cum_vol_for_day_part(t-26), rvol_1D(t-26), rvol_3D(t-26), rvol_5D(t-26), rvol_14D(t-26), rvol_21D(t-26), return_15m(t-26), target(t-26), open(t-25), high(t-25), low(t-25), close(t-25), ...]
Index: []

[0 rows x 497 columns]

In [15]:
n_features_in = 17
n_features_out = 1
n_lags_in = 30
n_lags_out = 1

n_obs_in = (n_features_in * n_lags_in)
n_obs_out = (n_features_out * n_lags_out)
print ('Number of observations in:',n_obs_in)
print ('Number of predictions out:', n_obs_out)

# Creating X, y from data_test
X = data.drop(columns = ['target'])
X = data.values[:, :n_obs_in]
y = data.target.values.reshape(-1,1)
print ('\nShape of X:',X.shape)
print ('Shape of y:', y.shape)

Number of observations in: 510
Number of predictions out: 1

Shape of X: (0, 497)
Shape of y: (0, 1)

In [16]:
from sklearn.preprocessing import MinMaxScaler

X_scaler = MinMaxScaler(feature_range=(-2,2)).fit(X)
y_scaler = MinMaxScaler(feature_range=(-2,2)).fit(y)

X_scaled = X_scaler.fit_transform(X)
y_scaled = y_scaler.fit_transform(y)

print(X_scaled.shape, y_scaled.shape)

ValueError: Found array with 0 sample(s) (shape=(0, 497)) while a minimum of 1 is required by MinMaxScaler.

In [ ]:
split = int(0.7 * len(X))

X_train = X_scaled[:split]
X_test = X_scaled[split:]

y_train = y_scaled[:split]
y_test = y_scaled[split:]

print('Shape of splits:')
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

In [ ]:
n_features = 17
n_lag = 30
n_in, n_out = 30, 1

#Train data
#X_train = X_scaler.transform(X_train)
#y_train = y_scaler.transform(y_train)
#Test Data
#X_test = X_scaler.transform(X_test)
#y_test = y_scaler.transform(y_test)

In [ ]:
# reshape input to be 3D [samples, timesteps, features] for LSTM

X_train = X_train.reshape((X_train.shape[0], n_lag, n_features))
X_test = X_test.reshape((X_test.shape[0], n_lag, n_features))
print('Re-shaped for LSTM:')
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

In [ ]:
print(X_train.shape[0], X_train.shape[1], X_train.shape[2])

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout
dropout_fraction = 0.40
model_test = Sequential()

model_test.add(LSTM(50, activation='relu', return_sequences=True, input_shape=((X_train.shape[1]), X_train.shape[2])))
model_test.add(Dropout(dropout_fraction))
model_test.add(LSTM(50, activation='relu'))
model_test.add(Dropout(dropout_fraction))
model_test.add(Dense(n_out))
model_test.compile(optimizer='adam', loss='mse')

In [ ]:
model = model_test.fit(X_train, y_train, 
                    epochs=50, batch_size=96, 
                    validation_data=(X_test, y_test), 
                    verbose=1, shuffle=False)

In [ ]:
model_test.summary()

In [ ]:
model_test.evaluate(X_test, y_test, verbose=1)

In [ ]:
predicted = model_test.predict(X_test)

In [ ]:
inv_predicted = y_scaler.inverse_transform(predicted)
inv_predicted.shape

In [ ]:
inv_y = y_scaler.inverse_transform(y_test)
inv_y.shape

In [ ]:
predicted_price = inv_predicted
real_price = inv_y

stocks = pd.DataFrame({
    "Real": real_price.ravel(),
    "Predicted": predicted_price.ravel()})

stocks.head(25)

In [ ]:
import hvplot.pandas 

stocks.hvplot(y=["Real","Predicted"],height=500,width=1000)

In [ ]:
stocks.describe()

In [ ]:
X_test.shape

In [ ]:
split = int(0.7 * len(X))
X_test_df = GOOG["close"].copy()
X_test_df = X_test_df[split:]

In [ ]:
X_test_df = pd.DataFrame(data=X_test_df, index=GOOG.index)
X_test_df = X_test_df.dropna()
X_test_df.head()

In [ ]:
print(X_test_df.shape,stocks.shape)

In [ ]:
X_test_df = X_test_df.iloc[31:]
X_test_df.shape

In [ ]:
stocks = stocks.set_index(X_test_df.index)

In [ ]:
stocks.head()

In [ ]:
stocks = stocks.join(X_test_df)
stocks.head()

In [ ]:
stocks["predicted_pct_change"] = (((stocks["Predicted"] - stocks["close"]) / stocks["close"]) * 100)
stocks["real_pct_change"] = (((stocks["Real"] - stocks["close"]) / stocks["close"]) * 100)

stocks.head()

In [ ]:
stocks_change = stocks[["predicted_pct_change","real_pct_change"]].copy()
stocks_change.head()

In [ ]:
stocks_change.hvplot(y=["real_pct_change","predicted_pct_change"],height=500,width=1000)

In [ ]:
stocks["diff"] = (stocks["Real"]-stocks["Predicted"])
stocks.head()

In [ ]:
stocks.hvplot(y=["diff"],height=500,width=1000)

In [ ]:
stocks["diff_pct_change"] = (stocks["real_pct_change"] - stocks["predicted_pct_change"])
stocks.head()

In [ ]:
stocks.hvplot(y=["diff_pct_change"],height=500,width=1000)

In [ ]:
stocks["diff_pct_change"].describe()